/* header.css */

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  height: 100px;
  gap: 10px;
}
.logo{
  display: flex;
  align-items: center;
  padding: 10px;
}
.logo img {
  height: 80px; /* Adjust as necessary */
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  width: 50vw;
}

.menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
}
.socialmedia{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.search {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.search input {
  padding: 5px;
  margin-left: 10px;
}

.social-icons {
  display: flex;

  align-items: center;
}

.social-icons a {
  color: #fff;
  display: flex;
  align-items: center;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.nav-open {
  display: flex;
}

@media (max-width: 768px) {
  .nav {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #333;
    flex-direction: column;
    align-items: center;
    display: none;
  }

  .menu li {
    margin: 10px 0;
  }

  .search {
    display: none;
    margin: 10px 0;
  }


  .social-icons {
    display: none;
    margin: 10px 0;
  }

  .hamburger {
    display: block;
  }
}
